<%= form_for @order_status, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @order_status.errors.any? %>
    <div id="error" class="alert alert-error">
        <% for message in @order_status.errors.full_messages %>
          <div><%= message %></div>
        <% end %>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t('order_statuses.form.title') %></legend>

    <div class="control-group">
      <%= f.label :status, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :status, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :color, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :color, options_for_color, { :include_blank => true }, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :first_status, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :after_payment, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :after_payment, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit button_label, :class => 'btn btn-primary', :id => "commit" %>
      <%= link_to t('buttons.cancel'), order_statuses_path, :class => 'btn'  %>
    </div>
  </fieldset>
<% end %>
