<p>
  <h1><%= t('order_statuses.index.title') %></h1>
</p>
<% if @order_statuses.empty? %>
  <div class="alert alert-info">
    <%= t('order_statuses.index.empty') %>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('helpers.label.order_status.id') %></th>
        <th><%= t('helpers.label.order_status.status') %></th>
        <th><%= t('helpers.label.order_status.first_status') %></th>
        <th><%= t('helpers.label.order_status.color') %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @order_statuses.each do |order_status| %>
        <tr>
          <td><%= order_status.id %></td>
          <td><%= link_to order_status.status, order_status_path(order_status) %></td>
          <td><%= formatted_first_status_for(order_status) %></td>
          <td>
            <div class="color_picker" style="background-color: <%= order_status.color %>"></div>
          </td>
          <td>
            <%= link_to t('buttons.edit'), edit_order_status_path(order_status), :class => 'btn btn-mini', :id => "edit-#{order_status.status.parameterize}" %>
            <%= link_to t('buttons.destroy'), order_status_path(order_status), :method => :delete, :confirm => t('messages.confirmation'), :class => 'btn btn-mini btn-danger', :id => "destroy-#{order_status.status.parameterize}"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to t('buttons.new'), new_order_status_path, :class => 'btn btn-primary', :id => "new" %>
