<p>
  <h1><%= t('order_statuses.show.title') %></h1>
</p>

<p>
  <b><%= t('helpers.label.order_status.status') %></b><br>
  <%= @order_status.status %>
</p>

<p>
  <b><%= t('helpers.label.order_status.description') %></b><br>
  <%= @order_status.description %>
</p>

<p>
  <b><%= t('helpers.label.order_status.lifecycle') %></b><br />
  <%= t("order_statuses.form.lifecycle.#{order_status.lifecycle}") %>
</p>

<p>
  <b><%= t('helpers.label.order_status.color') %></b>
  <%= progress_bar_from(@order_status.color) %>
</p>

<div class="form-actions">
  <%= link_to t('buttons.back'), order_statuses_path, :class => 'btn'  %>
  <%= link_to t('buttons.edit'), edit_order_status_path(@order_status), :class => 'btn' %>
  <%= link_to t('buttons.destroy'), order_status_path(@order_status), :method => 'delete', :confirm => t('messages.confirmation'), :class => 'btn btn-danger' %>
</div>
