<%= form_tag password_resets_path, :class => 'form-horizontal', :method => :post do %>
  <fieldset>
    <legend><%= t('user.title.forgot_password') %></legend>

    <div class="control-group">
      <%= label_tag :email, nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :email, params[:email], :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag t('user.button.forgot_password'), :id => "commit", :class => 'btn btn-primary' %>
      <%= link_to t('button.cancel'), root_path, :id => 'cancel', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
