<div class="alert alert-danger">
  <strong><%= t('trademark_orders.flash.create.alert.title') %></strong><br />
  <%= t('trademark_orders.flash.create.alert.message') %>
</div>

<p>
  <b><%= t('helpers.label.trademark_order.service') %></b><br />
  <%= @order.service.name %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.price') %></b><br />
  <%= number_to_currency(@order.service.price) %>
</p>

<%= form_tag payment_url(@order), :method => :post do %>
  <div id="pay_trademark_order" class="alert alert-success">
    <strong>
      <%= t('trademark_orders.prepare_payment.message') %>
    </strong>
    <br />
    <br />
    <%= submit_tag "Pay", :type => :image, :src => "/assets/pagseguro.gif", :id => "pay" %>
    <br />
    <br />
  </div>
  <div class="form-actions">
    <%= link_to t('buttons.cancel'), trademark_orders_path, :class => 'btn'%>
  </div>
<% end %>
