<div class="alert alert-danger">
  <strong><%= t('trademark_orders.flash.create.alert.title') %></strong><br />
  <%= t('trademark_orders.flash.create.alert.message') %>
</div>

<p>
  <b><%= t('helpers.label.trademark_order.service') %></b><br />
  <%= @order.service.name %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.price') %></b><br />
  <%= number_to_currency(@order.service.price) %>
</p>

<%= pagseguro_form @pagseguro_order, :submit => "Efetuar pagamento!" %>
