<%= form_for @trademark_order, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @trademark_order.errors.any? %>
    <div id="error" class="alert alert-error">
      <% for message in @trademark_order.errors.full_messages %>
      <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t('trademark_orders.form.title') %></legend>
    
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :segment, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :segment, options_for_select(['Segmento 1', 'Segmento 2']) ,:class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :subsegment, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :segment, options_for_select(['Subsegmento 1', 'Subsegmento 2']) ,:class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :observations, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :observations, :class => 'text_area' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit button_label, :class => 'btn btn-primary', :id => 'commit' %>
      <%= link_to t('buttons.cancel'), trademark_orders_path, :class => 'btn'  %>
    </div>
  </fieldset>
<% end %>
