<%= form_for @trademark_order, :url => update_status_trademark_order_path(@trademark_order.id, @trademark_order.order_status_id), :html => { :class => 'form-horizontal' } do |f| %>
  <% if @trademark_order.errors.any? %>
    <div id="error" class="alert alert-error">
      <% for message in @trademark_order.errors.full_messages %>
      <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t('trademark_orders.form.title') %></legend>
    
    <div class="control-group">
      <%= f.label :order_status, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :order_status_id, OrderStatus.all, :id, :status, :class => 'text_area' %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit t('buttons.update'), :class => 'btn btn-primary', :id => 'commit' %>
      <%= link_to t('buttons.cancel'), root_url, :class => 'btn'  %>
    </div>
  </fieldset>
<% end %>
