<p>
  <h1><%= t('trademark_orders.index.title') %></h1>
</p>

<% if @trademark_orders.empty? %>
  <div class="alert alert-info">
    <%= t('trademark_orders.index.empty') %>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('helpers.label.trademark_order.id') %></th>
        <th><%= t('trademark_orders.index.progress') %></th>
        <th><%= t('helpers.label.trademark_order.user') %></th>
        <th><%= t('helpers.label.trademark_order.name') %></th>
        <th><%= t('helpers.label.trademark_order.segment') %></th>
        <th><%= t('helpers.label.trademark_order.subsegment') %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @trademark_orders.each do |trademark_order| %>
        <tr>
          <td><%= trademark_order.id %></td>
          <td><%= progress_for(trademark_order) %></td>
          <td><%= trademark_order.user.username %></td>
          <td><%= link_to trademark_order.name, trademark_order_path(trademark_order) %></td>
          <td><%= trademark_order.segment %></td>
          <td><%= trademark_order.subsegment %></td>
          <td>
            <%= link_to t('buttons.destroy'), trademark_order_path(trademark_order), confirm: t('messages.confirmation'), :class => 'btn btn-mini btn-danger', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
