<p>
  <h1><%= t('trademark_orders.index.title') %></h1>
</p>

<% if @trademark_orders.empty? %>
  <div class="alert alert-info">
    <%= t('trademark_orders.index.empty') %>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('helpers.label.trademark_order.id') %></th>
        <% if current_user.admin? %>
          <th><%= t('helpers.label.trademark_order.user') %></th>
        <% end %>
        <th><%= t('helpers.label.trademark_order.name') %></th>
        <th><%= t('trademark_orders.index.progress') %></th>
        <th><%= t('helpers.label.trademark_order.segment') %></th>
        <th><%= t('helpers.label.trademark_order.subsegment') %></th>
        <% if current_user.admin? %>
          <th><%= t('actions') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @trademark_orders.each do |trademark_order| %>
        <tr>
          <td><%= trademark_order.id %></td>
          <% if current_user.admin? %>
            <td><%= trademark_order.purchase.user.username %></td>
          <% end %>
          <td>
            <%= view_or_pay(trademark_order) %>
          </td>
          <td><%= progress_for(trademark_order) %></td>
          <td><%= trademark_order.segment %></td>
          <td><%= trademark_order.subsegment %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to t('trademark_orders.index.update_order_status'), edit_status_path(trademark_order.purchase), :class => 'btn btn-mini', :id => "edit-#{trademark_order.name.parameterize}" %>
              <%= link_to t('buttons.destroy'), trademark_order_path(trademark_order), confirm: t('messages.confirmation'), :class => 'btn btn-mini btn-danger', method: :delete %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user.customer? %>
  <%= link_to  new_trademark_order_path, :class => "btn btn-inverse", :id => "new_trademark_order" do %>
    <%= t('services.trademarks.registration') %>
  <% end %>
<% end %>
