<% if current_user.admin? %>
  <p>
    <b><%= t('helpers.label.trademark_order.user') %></b><br />
    <%= @trademark_order.purchase.user.username %>
  </p>
<% end %>

<p>
  <b><%= t('helpers.label.trademark_order.name') %></b><br />
  <%= @trademark_order.name %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.segment') %></b><br />
  <%= @trademark_order.segment %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.subsegment') %></b><br />
  <%= @trademark_order.subsegment %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.observations') %></b><br />
  <%= @trademark_order.observations %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.service') %></b><br />
  <%= @trademark_order.purchase.service.name %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.status') %></b><br />
  <div style="width: 20%;">
    <%= progress_for(@trademark_order) %>
  </div>
</p>

<% @trademark_order.purchase.order_attachments.each.with_index do |attachment, i| %>
  <p>
    <b><%= "#{t('helpers.label.order_attachment.file')} #{i+1}" %></b><br />
    <%= make_downloadable(attachment) %>
  </p>
<% end %>

<div class="form-actions">
  <%= render :partial => 'show_actions', :locals => {:trademark_order => @trademark_order } %>
</div>
