<p>
  <h1><%= t('trademark_orders.index.title') %></h1>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.name') %></b><br />
  <%= @trademark_order.name %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.segment') %></b><br />
  <%= @trademark_order.segment %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.subsegment') %></b><br />
  <%= @trademark_order.subsegment %>
</p>

<p>
  <b><%= t('helpers.label.trademark_order.observations') %></b><br />
  <%= @trademark_order.observations %>
</p>

<div class="form-actions">
  <%= link_to t('buttons.back'), trademark_orders_path, :class => 'btn'  %>
  <% if can? :destroy, @trademark_order %>
    <%= link_to t('buttons.destroy'), trademark_order_path(@trademark_order), :method => 'delete', :confirm => t('messages.confirmation'), :class => 'btn btn-danger' %>
  <% end %>
</div>
