<%= form_for @user, :url => update_password_path(@user), :method => :post, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
        <% for message in @user.errors.full_messages %>
          <div><%= message %></div>
        <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t('user.title.change_password') %></legend>

    <div class="control-group">
      <%= f.label :old_password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :old_password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('user.button.change_password'), :id => "commit", :class => 'btn btn-primary' %>
      <%= link_to t('button.cancel'), root_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
