<p>
<h1><%= t('user.title.users') %></h1>
</p>
<% if @users.empty? %>
  <div class="alert alert-info">
    <%= t('user.messages.customer.empty') %>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('helpers.label.user.id') %></th>
        <th><%= t('helpers.label.user.username') %></th>
        <th><%= t('helpers.label.user.email') %></th>
        <th><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to t('button.destroy'), user_path(user), :method => :delete, :confirm => t('confirmation.message'), :class => 'btn btn-mini btn-danger', :id => "destroy-#{user.username}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
