<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error" class="alert alert-error">
        <% for message in @user.errors.full_messages %>
          <div><%= message %></div>
        <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend><%= t('users.new.title') %></legend>

    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('users.new.buttons.register_user'), :class => 'btn btn-primary', :id => "commit" %>
      <%= link_to t('buttons.cancel'), root_path, :id => 'cancel', :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
