<p>
  <h1><%= t('users.show.title') %></h1>
</p>

<p>
  <b><%= t('helpers.label.user.username') %></b><br>
  <%= @user.username %>
</p>

<p>
  <b><%= t('helpers.label.user.email') %></b><br>
  <%= @user.email %>
</p>

<div class="form-actions">
  <% if can? :edit_password, @user %>
    <%= link_to t('users.edit_password.buttons.change_password'), edit_password_path(@user), :id => "change_password", :class => 'btn'  %>
  <% end %>
  <%= link_to t('buttons.back'), users_path, :class => 'btn'  %>
</div>
