<%%= form_for @<%= singular_table_name %>, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>

    <legend><%%= t('<%= singular_table_name %>.title.<%= index_helper %>') %></legend>

    <% attributes.each do |attribute| -%>
      <div class="control-group">
        <%%= f.label :<%= attribute.name %>, :class => 'control-label' %>
        <div class="controls">
          <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => '<%= attribute.field_type %>' %>
        </div>
      </div>
    <% end -%>

    <div class="form-actions">
      <%%= f.submit button_label, :class => 'btn btn-primary', :id => 'commit' %>
      <%%= link_to t('button.cancel'), <%= index_helper %>_path, :class => 'btn'  %>
    </div>
  </fieldset>
<%% end %>
