<p>
<h1><%%= t('<%= singular_table_name %>.title.<%= singular_table_name %>') %></h1>
</p>

<% attributes.each do |attribute| -%>
  <p>
  <b><%%= t('helpers.label.<%= singular_table_name %>.<%= attribute.name %>') %></b><br />
    <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
  </p>
<% end -%>

<div class="form-actions">
  <%%= link_to t('button.back'), <%= table_name %>_path, :class => 'btn'  %>
  <%%= link_to t('button.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn' %>
  <%%= link_to t('button.destroy'), <%= singular_table_name %>_path(@<%= singular_table_name %>), :method => 'delete', :confirm => t('confirmation.message'), :class => 'btn btn-danger' %>
</div>

