<% content_for :navbar_menu do %>
  <ul class="nav">
    <li><%= link_to t('trademark_orders.index.title'), trademark_orders_path, :id => 'trademark_orders' %></li>
    <li><%= link_to t('services.index.title'), services_path, :id => 'services' %></li>
    <li><%= link_to t('order_statuses.index.title'), order_statuses_path, :id => 'order_statuses' %></li>
    <li><%= link_to t('order_types.index.title'), order_types_path, :id => 'order_types' %></li>
    <li><%= link_to t('users.index.title'), users_path %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
