<% content_for :navbar_menu do %>
  <ul class="nav">
  </ul>
<% end %>
<% content_for :navigation_menu do %>
  <h3><%= t('navigation') %></h3>
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li><%= link_to t('users.index.title'), users_path %></li>
    <li><%= link_to t('order_statuses.index.title'), order_statuses_path, :id => 'order_statuses' %></li>
    <li><%= link_to t('order_types.index.title'), order_types_path, :id => 'order_types' %></li>
    <li><%= link_to t('services.index.title'), services_path, :id => 'services' %></li>
  </ul>
<% end %>
<%= render :template => 'layouts/application' %>
